<div class="status-page">
  <h1 class="status-page__title">Status</h1>

  <% banner_status = @services.overall_status == :operational && @active_maintenances.any? ? :maintenance : @services.overall_status %>
  <%= render "overall_banner", status: banner_status %>
  <%= render "degraded_list", degraded: @services.degraded %>

  <%= render "active_events", incidents: @active_incidents, maintenances: @active_maintenances %>
  <%= render "upcoming_maintenance", maintenances: @upcoming_maintenances %>

  <% @services.by_history.each do |service, history| %>
    <%= render "service", service: service, history: history %>
  <% end %>
</div>
