<!DOCTYPE html>
<html lang="en">
  <head>
    <%= page_title_tag "Status" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= upright_stylesheet_link_tag "data-turbo-track": "reload" %>
  </head>
  <body class="public">
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
