<div class="data-table__row uptime-bars__row">
  <%= link_to upright.site_root_url(subdomain: current_or_default_site.code, probe_type: probe.type, probe_name: probe.name), class: "data-table__probe" do %>
    <%= probe_type_icon(probe.type) %>
    <span class="data-table__probe-name"><%= probe.name %></span>
  <% end %>
  <div class="uptime-bars__days">
    <% dates.each do |date| %>
      <% uptime = probe.uptime_for_date(date) %>
      <% if uptime.nil? %>
        <div class="uptime-bar uptime-bar--no-data" title="<%= date.to_fs(:short) %>: No data"></div>
      <% else %>
        <% uptime_percent = uptime * 100 %>
        <% downtime_minutes = ((1 - uptime) * 24 * 60).round %>
        <%= link_to "", upright.site_root_url(subdomain: current_or_default_site.code, probe_type: probe.type, probe_name: probe.name, date: date.iso8601),
              class: "uptime-bar uptime-bar--#{uptime_label(uptime_percent)}",
              title: uptime_bar_tooltip(date, uptime_percent, downtime_minutes),
              aria: { label: uptime_bar_tooltip(date, uptime_percent, downtime_minutes) } %>
      <% end %>
    <% end %>
  </div>
  <div class="uptime-bars__uptime uptime-bars__uptime--<%= uptime_label(probe.overall_uptime) %>">
    <%= number_with_precision(probe.overall_uptime, precision: 2) %>%
  </div>
</div>
